<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row mt20">
            <div class="col-md-6 offset-md-3">
                <mat-card>
                    <form class="example-form">
                        <mat-form-field class="example-full-width" appearance="fill">
                          <mat-label>Ride Detail</mat-label>
                          <input matInput placeholder="Detail" value="Detail">
                        </mat-form-field>
                      
                        <mat-form-field class="example-full-width" appearance="fill">
                          <mat-label>Write Your Valuable Feedback</mat-label>
                          <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
                        </mat-form-field>
                        <div class="container text-center">
                            <button mat-raised-button color="primary" type="submit">Submit</button>
                            <button class="ml10" mat-raised-button color="accent">Erase</button>
                        </div>
                      </form>
                    </mat-card>
                    </div>
                    </div>
                    </div>
                    </div>
                
  
