<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row mt20">
            <div class="col-md-6 offset-md-3 text-center">
                <h1>Welcome to Booking Ride Application</h1>
                <button mat-raised-button color="primary">Home Page</button>
                <div class="md20">
                    <mat-form-field appearance="fill">
                        <mat-label>Enter the Mobile Number</mat-label>
                        <input matInput>
                      </mat-form-field>
                      <mat-form-field appearance="fill">
                        <mat-label>Select the vehicle</mat-label>
                        <mat-select>
                          <mat-option value="one">Car</mat-option>
                          <mat-option value="two">Bike</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field appearance="fill">
                        <mat-label>How to Reach</mat-label>
                        <textarea matInput></textarea>
                      </mat-form-field>
                      <div class="container text-center">
                        <button mat-raised-button color="primary" type="submit">Submit</button>
                        
                    </div>
                    </div>
                  
                  
            </div>
        </div>
    </div>
</div>
